* {
    box-sizing: border-box;
}

*[class^=myTxt] {
    font-size: 5rem;
}

menu {
    width: 2em;
    height: 1em;
    /* position: absolute; */
    /* top: calc(100vh + 1rem); */
    /* right: 3.5rem; */
    position: sticky;
    /* top: 30vh; */
    left: 75vw;
    z-index: 99;
}

menu *[id^=menu] {
    width: 100%;
    height: 2px;
    background-color: black;
    position: absolute;
    transform-origin: 0px;
}

menu #menuTop {
    top: 0;
}

menu #menuMid {
    top: calc(0.5em - 1px);
}

menu #menuBot {
    bottom: 0;
}

#myWeb,
#aboutMe,
#myProject,
#contact {
    /* background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(https://picsum.photos/1600/900?random=1); */
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), url(https://picsum.photos/id/509/1600/900);
    background-repeat: no-repeat;
    height: 100vh;
    position: relative;
    /* opacity: 0.5; */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutMe {
    background-image: linear-gradient(rgba(10, 150, 255, 0.5), rgba(150, 10, 255, 0.5)), url(https://picsum.photos/1600/900?random=2);
    background-image: linear-gradient(rgba(255, 180, 10, 0.5), rgba(255, 100, 10, 0.5)), url(https://picsum.photos/1600/900?random=3);
    /* background: linear-gradient(rgba(10, 150, 255, 0.5), rgba(150, 10, 255, 0.5)); */
}

#myProject {
    height: inherit;
    background-image: linear-gradient(rgba(255, 180, 10, 0.5), rgba(255, 100, 10, 0.5)), url(https://picsum.photos/1600/900?random=3);
    background-image: linear-gradient(rgba(10, 150, 255, 0.5), rgba(150, 10, 255, 0.5)), url(https://picsum.photos/1600/900?random=2);
    /* background: linear-gradient(rgba(255, 180, 10, 0.5), rgba(255, 100, 10, 0.5)); */
}

#contact {
    background-image: linear-gradient(rgba(10, 255, 180, 0.5), rgba(10, 255, 100, 0.5)), url(https://picsum.photos/1600/900?random=4);
    /* background: linear-gradient(rgba(10, 255, 180, 0.5), rgba(10, 255, 100, 0.5)); */
}

/* .myPages:not(:first-child) { */
.myPages:nth-child(2),
.myPages:nth-child(3) {
    display: none;
}

#mySkill img {
    object-fit: contain;
    animation-name: iconAnimation;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    width: 15vw;
}

@keyframes iconAnimation {
    0% {
        transform: rotate(0deg);
    }

    12.5% {
        transform: rotate(5deg);
    }

    25% {
        transform: rotate(10deg);
    }

    37.5% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    62.5% {
        transform: rotate(-5deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    87.5% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.myTimelineWidth {
    width: calc(95% / 7);
}

.myTimeline {
    border-bottom: 5px solid white;
}

.myTimelineList {
    border-left: 3px dashed white;
    position: relative;
    top: -10%;
}

.card {
    width: 25vw;
    height: 35vh;
}

.card img {
    width: 100%;
}

.carousel-inner img {
    width: 100%;
}

@media only screen and (max-width:768px) {
    .col-3 {
        /* 首頁中間 */
        width: 0vw;
    }

    .col-4 {
        /* 首頁左邊 */
        width: 38vw;
    }

    .col-5 {
        /* 首頁右邊, AI輪播, CONTACT */
        width: 60vw;
    }

    .col-10 {
        /* ABOUT PROJECT CONTACT */
        width: 90vw;
    }

    menu {
    }

    #myWeb,
    #aboutMe,
    #myProject,
    #contact {
        height: inherit;
    }

    *[class^=myTxt] {
        font-size: 6rem;
    }



    #mySkill img {
        width: 20vw;
    }

    .card {
        width: 55vw;
        height: 45vh;
    }

}

@media only screen and (min-width:768px) {
    nav {
        display: block;
    }

    menu {
        display: none;
    }
}